<form id="recover" class="fixed inset-x-1/4  h-fit bottom-20 rounded-md shadow-md p-2 border bg-white z-50 left-1/4">
    <h2 class="border-b-2 text-center font-semibold  " id="itemName"> Calculatrice </h2>
    
    <p>Publié par : <a id="publisher" class="font-semibold">Aaron Djibi</a></p>
    <p>Date de publication : <span id="itemPublishedDate" class="font-semibold">14 janvier 2023</span></p>
    <a id="itemResidence" class="font-semibold">Residence Jean Medecin</a>
    <p for="">Disponible depuis à l'accueil depuis le : <span id="itemSince" class="font-semibold">15 janvier 2023</span> </p>
    <div class="flex flex-col py-2">
        <label for="Message" class="font-semibold">Manifestes ton souhait</label>
        <textarea name="message" id="Message" class="bg-gray-50 p-2 text-start rounded-md border w-full"  cols="30"  rows="10">
            Bonjour,

            Je suis intéressé(e) par ton annonce.
            Laisse moi te débarrasser.

            Je remercie par avance de ta générosité!✨😉
        
        </textarea>
    </div>
    <div class="flex flex-row w-full justify-end space-x-4 bg-gray-50">
        <button id="" type="submit"  class="p-2 rounded-md hover:bg-green-600">Envoyer</button>
    </div>
</form>
