<section class="size-full">
    <div id="item"  class="p-2 w-full basis-1/4 border font-semibold text-center">Vous etes sur dans la page Item</div>
    <!--  -->
    <div class="h-[40em] py-2 border " >
        <ul id="itemImages" class="overflow-x-auto flex space-x-1 size-full">
        </ul>
    </div>
    <div class="p-3 h-fit flex flex-col border border-b-2"> 
        <div  id="" class="w-full py-1 font-semibold border-b-2 flex flex-row items-center justify-between">
            <p id="itemName" class="font-semibold">Calculatrice ti 83 Premium<p>
            <button title="favoris" id="favoris" class="rounded-md hover:bg-yellow-400">
                <i class="fa-regular fa-star p-2"></i>
            </button> 
        </div>
        <div   class="">Categories  :  <span id="itemCategories"> Scientifique </span></div>
        <div   class="">Etat : <span id="itemState">Etat correct</span></div>
        <div class="">Valeur estimée :  <span id="itemWorth">80€</span> </div>
        <div class="">Date publication  :  <span id="itemPublishedDate">20 Janvier 2023</span> </div> 
        <div class="">Disponible à la l'acceuil de la residence <a id="itemResidence" class="font-semibold">Jean Medecin</a> depuis <span id="itemSince" class="font-semibold">20 Janvier 2023</span> </div> 
        <br>
        <p class="font-semibold">Description</p>
        <p class="text-justify" id="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo veniam, minima minus nostrum est possimus ratione molestias debitis magni facilis! Dolore laudantium et adipisci magni blanditiis ad commodi mollitia aperiam.</p>
    </div>
    <div class="h-28 p-2 flex flex-row justify-between items-center">
        <div class="flex flex-col justify-start">
            <a href="\account" class="font-semibold" id="publisher">Jean Luc Parpin</a>
            </a>
            <p>Membre depuis <span class="font-semibold" id="publisherSince"> 2 Septembre 2023</span></p>
        </div>
        <img id="publisherProfil" class="w-20 h-20 rounded-full object-cover" src="src\public\ressource\image\pexels-rodolfo-clix-1615776.jpg" alt="publisher">
    </div>
    <!--  -->
    <div id="recoverForm"></div>
    <button class="fixed bottom-10 p-2 rounded-md inset-x-1/4 bg-sky-500 flex flex-row justify-center space-x-2 transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-110 items-center " id="toggle">
        <i class="fa-solid fa-circle-plus"></i>
        <div id="recoverLabel"> Afficher le bloc de récupération </div>
    </button>
</section>