<section class="p-2 size-full flex flex-col space-y-2  ">
    <div class="shadow-md rounded-md w-full text-center p-2 font-semibold border"> Vous etes dans vos Notifications </div>
    <div class="h-screen overflow-y-scroll rounded-md border">
        <ul id="notifs" role="list" class="p-2">
            <!-- {#each people as person} -->
              <li class="group/item p-2 rounded-md shadow-md hover:bg-slate-100 flex flex-row items-center space-x-4">
                <img class="h-32 w-32 rounded-full object-cover"  id="senderProfile" src="src/public/ressource/image/pexels-rodolfo-clix-1615776.jpg" alt="" />
                <div class="h-30  border rounded-md flex-1 flex flex-row">
                    <div class="p-2 flex-1 flex flex-col">
                        <div class="flex justify-between ">
                            <a class="text-center font-semibold"  href="/account" id="senderName">Henry MohrGan</a>
                            <p id="publishedDate" class="italic">il y'a 2 jours</p>
                        </div>
                        <p class="" id="message">
                            Bonjour <a class="font-semibold">AAron</a>,<br>Je suis intéréssé(e) par ton annonce.Est-ce que c'est possible que je recupére ta/ton <a id="itemName"  class="font-semibold">DeathNnote</a> 😊 à l'accueil de ta residence le <span id="date" class="font-semibold"> 2 Septembre prochain.</span><br>Je remercie par avance de ta generosité!✨😉
                        </p>
                    </div>
                    <!-- Les boutons rendu visible au survol -->
                    <div class="p-2 group/edit flex flex-col justify-between invisible hover:bg-transparent group-hover/item:visible"  >
                        <i class="cursor-pointer rounded-md p-2  hover:bg-green-600 fa-solid fa-check-double"></i>
                        <i class="cursor-pointer rounded-md p-2  hover:bg-yellow-600 fa-solid fa-xmark"></i>
                        <i class="cursor-pointer rounded-md p-2   hover:bg-red-600 fa-regular fa-trash-can"></i>
                    </div>
                </div>
              </li>
            <!-- {/each} -->
          </ul>
    </div>
</section>